footer {
   margin: 0 100px;
   display: flex;
   gap: 100px;
}

.footer-logos {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.footer-content h3 {
   padding-bottom: 10px;
}

.footer-content {
   display: flex;
   justify-content: space-between;
   width: 100%;
   gap: 50px;
}

.footer-box-contacts > a {
   white-space: nowrap;
}

// Education

.footer-box-edu ul {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0px 25px;
   text-wrap: nowrap;
}

.footer-box-address {
   max-width: 20%;
}

.footer-content li ul {
   padding: 0;
}

.footer-contacts {
   white-space: pre;
}
