.top-buttons {
  z-index: 12;
  position: fixed;
  top: 0;
  max-width: 100%;
  width: -webkit-fill-available;
  height: 30px;
  background-color: grey;
  display: flex;
}

.top-buttons *,
.top-buttons * * {
  width: 100%;
  height: 100%;
  font-family: $main-font;
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.36px;
}

// on coolBand page

.top-buttons-main-active:hover {
  color: $main-font-color;
  background: #353535;
  box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.25) inset;
}
.top-buttons-main-active {
  background-color: $hover-color;
  color: $main-background-color;
  box-shadow: 0px -4px 6.7px 0px rgba(80, 80, 80, 0.37) inset;
}

.top-buttons-secondary-notActive {
  background-color: $main-background-color;
  color: $main-font-color;
  box-shadow: 0px -4px 7px 0px rgba(37, 37, 37, 0.31) inset;
}
.top-buttons-secondary-notActive:hover {
  background: var(--Blue, #5979fa);
  color: $main-font-color;
  box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.25) inset;
}

// on Coolstudio page

.top-buttons-secondary-active {
  background: var(--Blue, #5979fa);
  color: $main-font-color;
  box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.25) inset;
}
.top-buttons-main-notActive {
  color: $main-font-color;
  background: #353535;
  box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.25) inset;
}
.top-buttons-secondary-active:hover {
  background-color: $main-background-color;
  color: $main-font-color;
  box-shadow: 0px -4px 7px 0px rgba(37, 37, 37, 0.31) inset;
}
.top-buttons-main-notActive:hover {
  background-color: $hover-color;
  color: $main-background-color;
  box-shadow: 0px -4px 6.7px 0px rgba(80, 80, 80, 0.37) inset;
}
