.shared-scroll-wrapper {
   offset: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.anchor {
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   z-index: -1;
   top: 114px;
   left: 0;
   visibility: hidden;
}
