footer {
    margin: 100px;
    margin-bottom: 30px;
}

.footer-container {
    display: flex;
    min-width: 100%;
}

.footer-logos {
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10%;
    gap: 70px;
}

.footer-content li ul{
    padding: 0;
}

.footer-contacts {
    white-space: pre;
}