.contact-us-button {
   @include buttons($buttons: $background_black);
   border: 1px solid $main_color;
   color: $main_color;
   fill: $fill_yellow;
   margin-top: 100px;
   align-self: center;
}

.contact-us-button:hover {
   color: $hover_black;
   fill: $fill_black;
   background: $background_yellow;
}
