.contact-us-content h2 {
   padding: 0;
}
.contact-us-content h3 {
   font-size: 26px;
   font-weight: 700;
}
.contact-us-content a {
   margin: auto;
}
.contact-us-content {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-direction: column;
   gap: 40px;
}

.contact-us {
   padding: 0 100px;
   display: flex;
   flex-direction: row;
   gap: 122px;
}

.contact-us > * {
   width: 100%;
}

.contact-us-map {
   border-radius: $border_radius;
   overflow: hidden;
}
