.our-events-container {
   width: 100%;
   height: 400px;
   display: flex;
   gap: 36px;
   animation: scroll 15s linear infinite;
}
.our-events h2 {
   padding-bottom: 0px;
}
.our-events a {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   position: relative;
   z-index: 2;
   transform: translate(0%, -100px);
}
@keyframes scroll {
   0% {
      transform: translateX(-15px);
   }
   100% {
      transform: translateX(calc(-400px * 5));
   }
}
.our-events-container::-webkit-scrollbar {
   display: none;
}
