// Colors

$main-background-color: #151515;

// Fonts
$main-font: "Montserrat Alternates";
$main-font-color: #ffffff;

// Breakpoints
$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

// hover

$hover-color: #fed102;

$border-radius: 16px;
