// Colors
@import "./variables";
@import "./reset.scss";
@import "../shared/UI/index.scss";
@import "../shared/widgets/index.scss";
@import "../pages/coolBandShow/index.scss";
@import "../pages/coolStudio/index.scss";

// global rules

:root {
   background-color: $background_black;
   color: $color;
   font-family: $font_family;
   max-width: $desktop_width;
   margin: auto;
   margin-bottom: 60px;
   scroll-behavior: smooth;
}

* {
   box-sizing: border-box;
}

body {
   // font-family: $main-font;
   // .header is absolute position with heaigh 80px to accomodate space
   margin-top: 110px;
   // ^^^^^^^^^^^^^^^
}
a {
   text-decoration: none;
}

.active {
   color: $main_color;
}

a:active {
   color: $main_color;
}

a:hover {
   color: $hover_yellow;
}

#root {
   display: flex;
   flex-direction: column;
   gap: 80px;
   margin-top: 80px;
   overflow: hidden;
}

// font styles

// Scroll hash links
#about {
   scroll-margin-top: 150px;
}

#collaboration {
   scroll-margin-top: 250px;
}

// font styles
p,
a {
   font-size: 18px;
   line-height: 150%;
   letter-spacing: 0.36px;
}

button {
   font-size: 24px;
   font-weight: 500;
   line-height: 150%; /* 30px */
   letter-spacing: 0.4px;
}

h1 {
   font-size: 40px;
   font-weight: 700;
   line-height: 125%; /* 50px */
   letter-spacing: 0.8px;
}
h2 {
   font-size: 32px;
   font-weight: 700;
   line-height: 125%; /* 40px */
   letter-spacing: 0.64px;
}

h3 {
   font-size: 24px;
   font-weight: 500;
   line-height: 150%; /* 36px */
   letter-spacing: 0.48px;
}

h6 {
   font-size: 20px;
   font-weight: 500;
   line-height: 26.4px;
   letter-spacing: 0.4px;
}
