.band-collage {
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  color: $main-font-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 100px;
  text-wrap: nowrap;
  text-align: center;
}
.band-collage {
}
