@import "./styles/variables";
@import "./styles/header";
@import "./styles/hero";
@import "./styles/about";
@import "./styles/whyus";
@import "./styles/ourEvents";
@import "./styles/ourTeam";
@import "./styles/collab";
@import "./styles/ourClients";
@import "./styles/contactUs";
@import "./styles/footer";
@import "./styles/galleryCards";
@import "./styles/galleryCard";
@import "./styles/galleryOverlay";


:root {
    background-color: $main-background-color;
    color: $main-font-color;
    font-family: $main-font;
}

ul {
    list-style-type: none;
    margin: 0;
}

body {
    margin: 0;
}

a, button  {
    text-decoration: none;
    border: none;
    box-shadow: none;
}


h3 {
    color: #FCFCFC;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 40px */
    letter-spacing: 0.64px;
}

h4 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
}

#studioLogo {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--Blue, #5979FA);
    box-shadow: 0px 0px 9px 0px #0428E6;
    // box-shadow: 0px 4px 5.400000095367432px 0px #4668F2;
    // box-shadow: 100px 100px 100px 0px #5979FA inset;

}

#bandLogo {
    border-bottom: 1px solid transparent;
    box-shadow: 0px 9px 10px -11px rgba(255,207,0,0.6);
    -webkit-box-shadow: 0px 9px 10px -11px rgba(255,207,0,0.6);
    -moz-box-shadow: 0px 9px 10px -11px rgba(255,207,0,0.6);
}